$gutterPercentWidth = $gutterWidth / $originWidth

getColumnWidth($identifier)
    for $index in 1..$numberOfColumns
        $nrOfGuttersForThisRow = $index - 1
        $columnPercentWidth = (1 - $nrOfGuttersForThisRow * $gutterPercentWidth) / $index
        if ($identifier == $index)
            width $columnPercentWidth * 100%
        else if ($index == 3 && $identifier == '3x2')
            width ($columnPercentWidth * 2 + $gutterPercentWidth) * 100%
        else if ($index == 4 && $identifier == '4x3')
            width ($columnPercentWidth * 3 + $gutterPercentWidth * 2) * 100%