@import 'grid-methods.styl'

.grid
    width 100%
    
    .row
    
        width 100%
        
        for $index in 1..$numberOfColumns
            .column{$index}
                getColumnWidth $index
                margin-left $gutterPercentWidth * 100%
                float left

        .column3x2
            getColumnWidth '3x2'
            float left
            margin-left $gutterPercentWidth * 100%

        .column4x3
            getColumnWidth '4x3'
            float left
            margin-left $gutterPercentWidth * 100%
        
        > div:first-child
            margin-left 0