@import '../settings.styl'
@import 'grid-methods.styl'

.grid
    .row
        for $index in 1..$numberOfColumns
            .column{$index}
                getColumnWidth 1
                margin-left 0
        .column4x3
            getColumnWidth 1
            margin-left 0
        .column4x3+.column4
            getColumnWidth 1
            margin-left 0
        .column3x2
            getColumnWidth 1
            margin-left 0