@import 'bootstrap.min.css'


$mainFont = 'Crete Round', serif;

p 
    font-size 1.1em

.nav li
    color white

body
    padding-top 120px

header
    margin-bottom 40px
    h1
        font-size 6em
        margin-bottom .3em
        font-family $mainFont

    p
        font-size 1.4em
        line-height 1.2em

p
    font-size 1.1em
    line-height 1.2em

.sugar
    margin-top 42px
    font-size 1.1em

section
    padding-top 50px

.moreSpace
    padding-top 40px

.footer
    padding 35px 0 36px
    margin-top 45px
    border-top 1px solid #E5E5E5

.function
    padding-top 10px
    .name
        font-style italic
        font-weight bold
.desc
    display block
    padding-left 20px
    padding-bottom 3px


logo($logoWidth, $color1, $color2)
    $logoLine = $logoWidth * .25 * .333 solid 
    width $logoWidth
    float left
    .text
        text-indent -9999em
        display none
    .part1
        width $logoWidth * .25 * .333
        height $logoWidth * .5 * .333
        border-top $logoLine $color1
        border-left $logoLine $color1
        border-right $logoLine $color1
        float left
    .part2
        width $logoWidth * .25 * .333
        height $logoWidth * .5 * .333
        border-bottom $logoLine $color2
        border-left $logoLine $color2
        border-right $logoLine $color2
        float left
    .part3
        width $logoWidth * .25 * .333
        height $logoWidth * .5 * .333
        border-top $logoLine $color1
        border-left $logoLine $color1
        border-right $logoLine $color1
        float left
     .part4
        width $logoWidth * .5 * .333
        height $logoWidth * .5 * .333
        border-top $logoLine $color2
        border-left $logoLine $color2
        float left

.navbar .brand
    padding-bottom 8px
    .logo
        logo(80px, #666, #999)
        margin-top 3px
        margin-bottom 0

.logo
    logo(300px, #555, #888)
    margin-bottom 40px

.header, header
    p
        clear left

    .subhead
        font-size 0.75em
        padding-top 40px
