html {
  height: 100%;
}
body {
  font-family: verdana, arial, helvetica;
  font-family: Lucida Grande, sans-serif;
  font-size: 11px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
h3 {
  padding: 0;
  margin: 0px;
  padding: 3px 5px;
  border-bottom: 1px solid #bbb;
}
#wrapper {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  height: 100%;
  -webkit-box-flex: 1;
  overflow: hidden;
}
#wrapper > div {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.top {
  -webkit-box-flex: 0;
}
#refreshEventList {
  position: absolute;
  top: 0px;
  right: 0px;
}
#events {
  -webkit-box-flex: 1;
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  padding: 0px;
  margin-right: 0px;
  border-right: 1px solid #bbb;
}
#eventInfo {
  -webkit-box-flex: 1;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  padding: 0px;
  margin-right: 0px;
  border-right: 1px solid #bbb;
}
#eventInfo .title {
  padding-right: 10px;
  font-weight: bold;
}
#eventsList {
  list-style: none;
  margin: 0px;
  -webkit-box-flex: 1;
  padding: 0px;
  overflow: auto;
}
#eventsList li {
  margin: 0px;
  padding: 0px;
  padding: 3px 5px;
  cursor: pointer;
}
#eventsList li:nth-child(odd) {
  background-color: #eee;
}
#eventsList li:hover {
  background-color: #ddd;
}
#eventsList li:nth-child(odd):hover {
  background-color: #ccc;
}
#codeInner {
  margin-top: 0px;
  display: block;
  padding: 0px 0;
  border-bottom: #eee dotted 1px;
}
#eventData {
  display: none;
  border-top: #eee dotted 1px;
  padding-top: 4px;
  margin-top: 2px;
}
#eventData .title {
  padding: 3px 5px 0;
}
#eventDataInner {
  margin-top: 0px;
  display: block;
  padding: 0px 0;
  border-bottom: #eee dotted 1px;
}
.innerContent {
  padding: 0px;
  -webkit-box-flex: 1;
  overflow: auto;
}
.disabled {
  opacity: 0.3;
}
#callbacks {
  padding: 3px 5px 0px;
}
#file,
#title {
  padding: 3px 5px;
}
#file {
  border-top: #eee dotted 1px;
  margin-top: 4px;
}
#callbackCode {
  border-top: #eee dotted 1px;
  padding-top: 4px;
  margin-top: 2px;
}
#callbackCode .title {
  padding: 3px 5px 0;
}
#triggeredEvents {
  padding: 0px;
  margin-right: 0px;
  height: 100%;
  -webkit-box-flex: 1;
  min-width: 300px;
  border-right: 1px solid #bbb;
}
#triggeredEvents #triggeredEventsList {
  overflow: auto;
  list-style: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#triggeredEvents #triggeredEventsList li {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  cursor: pointer;
  clear: both;
  border-bottom: #bbb dotted 1px;
  padding-top: 2px;
  position: relative;
}
#triggeredEvents #triggeredEventsList li:hover {
  background-color: #eee;
}
#triggeredEvents #triggeredEventsList li.active {
  background-color: #edf6ca;
}
#triggeredEvents #triggeredEventsList .eventItemInner {
  padding: 0 3px;
}
#triggeredEvents #triggeredEventsList .time {
  padding-top: 2px;
  width: 60px;
  float: left;
  display: block;
  margin-right: 5px;
  color: #999;
}
#triggeredEvents #triggeredEventsList .name {
  padding: 2px 5px 3px;
  border-radius: 2px;
  background-color: #ccc;
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 3px;
}
#triggeredEvents #triggeredEventsList .data {
  display: block;
  float: left;
  padding: 2px 0px;
  margin-right: 5px;
  height: 16px;
  width: 50px;
  text-overflow: ellipsis;
}
#triggeredEvents #triggeredEventsList .server {
  display: none;
  float: left;
  background-color: #8bbd00;
  color: #fff;
  padding: 0px 4px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  border: 1px solid #fff;
  border-radius: 2px;
}
